$white: #fff;
$red: #E1332D;
$primary: #6340EF;

.landing {
  display:grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.wrapper{
    max-width: 80%;
    max-height: 70%;
    margin: auto;
}

@media only screen and (max-width: 800px) {
  .landing {
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .wrapper{
      max-width: 100%;
      max-height: 100%;
    }

  }
}
.landingleft {
  
  display:grid;
  margin:0;
  
  
    
    .title {
      margin:0;
      font-size: 72px;
      font-weight: 800;
    }
    
    .subtext {
      margin:0;
      font-size: 28px;
      font-weight: 400;
      color: $primary;

      div{
        margin:0;
      }
    }
    
    .subtextitalic {
      margin:0;
      padding:0;
      font-style: italic;
      font-weight: 300;
      

    }
    
    .buttongroup {
      margin:0;
      margin-top: 5vh;
      display: flex;
      justify-content: flex-start;
      gap: 1.5em;
    }
    
    .homebutton {
      border: none;
      background-color: #c9c9c9;
      color: rgb(61, 61, 61);
      width:150px;
      height:45px;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-align: center;
    }
    
    .homebutton:hover {
      animation-delay: initial;
      box-shadow: inset 0px -3px 0 0 $primary;
      
      cursor: pointer;
    
      .buttonicons{
        color:$primary;
      }
    
      
    
  }
  

}





.landingright{
    background-color: $primary;
    display:grid;
    margin:0;
  

    h1 {
      margin:0;
      font-size: 50px;
      font-weight: 800;
      color:#fff;
    }
    
    h3 {
      margin:0;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
    }

    button{
      border: none;
      background-color: #fff;
      color: rgb(61, 61, 61);
      width:150px;
      height:45px;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-align: center;
    }
  
  
}

